*{
  box-sizing: border-box;
}
html,
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      margin: 0;
      padding: 0;
      width: 380px;
      background-color: #DED9D0; 
      background-image: url("/theme.png");
    }
    /*задаём настройки для заголовков первого уровня*/
    h1 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      color: #2f5876;
    }
    img {
      width: 30px; /*ширина изображений*/
    }
    input{
      outline: none;
      height: 2em;
      border: none;
      border-radius: 9px;
      display: block;
      margin: 5px 0px 5px 0px;
    }
    input[type=text], input[type=password]{
      padding: 0 1em;
    }
    p{
      margin-bottom: 0;
    }
    .modal-header {
      align-items: center; /*выравнивание элементов по центру*/
    }
    .logo {
      padding: 11px 16px 16px 16px; /*отступы со всех сторон*/
      border-bottom: 3.5px solid #dadada; /*свойства нижней разделительной линии*/
    }
    .logo-icon {
      vertical-align: text-bottom; /*выравнивание по нижней части текста*/
      margin-right: 12px; /*задётся отступ элементов от изображения*/
    }
    .version {
      color: #444;
      font-size: 16px;
    }
    .menu-container{
      padding: 0px 18px 18px 18px;
    }
    .win-menu{
      display: none;
    }
    .win-anim{
      
      transition: 0.5s;
    }
    .win-prefs{
      display: block;

      transition: 0.5s;

    }
    .wrong-reg{
      border: 1px solid;
      border-color: red;
    }
    .token-success{
       display: none;
       height: 140px;
    }
    .success{
      text-shadow: white 4px 4px 5px, white -4px -4px 5px, white -4px 4px 5px, white 4px -4px 5px;
      margin-top: 2.5rem;
      margin-left: 6.5rem;
      position: absolute;
      font-size: 30px;
      font-weight: 700;
      color: #60E685;
    }
    .clear{
      margin-top: 20px;
    }
    .back{
      display: inline-block;
      float: right;
      padding-right: 8px; 
      cursor: pointer;
    }
